/* Basic setup  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
}
body {
  font-family: "Montserrat", sans-serif;
}

/* Banner section  */
section {
  margin-bottom: 100px;
}
.row {
  width: 1140px;
  margin: 0 auto;
}
.banner-container {
  display: flex;
}
.banner-container .banner-box {
  margin-top: 200px;
}
.banner-box h1 {
  font-size: 50px;
  font-weight: 700;
  color: #575757;
}
.banner-box .swag-text {
  color: #fb934a;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 100%;
  margin-top: 50px;
  margin-left: 50px;
}
.banner-box p {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #828282;
  margin-bottom: 60px;
}
.link-btn {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border: 1px solid #fb8f48;
  background-image: linear-gradient(to right, #fb8f48, #fe492e);
  padding: 20px 40px;
  border-radius: 50px;
}

/* About Section */
.about-section {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-container {
  display: flex;
}
.half-width .about-person {
  padding-left: 50px;
  width: 60%;
}
.about-container .about-box {
  margin-top: 100px;
}
.about-box h2 {
  color: #707070;
  font-size: 40px;
  margin-bottom: 30px;
}
.about-box p {
  color: #18191f;
  margin-bottom: 80px;
  font-weight: 500;
  line-height: 2;
}

/* Recipie section */
.little-description {
  text-align: center;
}
.little-description h2 {
  color: #707070;
  font-size: 40px;
  margin-bottom: 30px;
}
.little-description p {
  width: 60%;
  margin-left: 20%;
  font-size: 18px;
  color: #252525;
  margin-bottom: 30px;
  font-weight: 400;
}
.recipie-container {
  display: flex;
}
.recipie-container .recipie-item {
  width: 30%;
  margin-right: 4%;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.recipie-item:last-child {
  margin-right: 0;
}
.recipie-item img {
  width: 100%;
  padding-bottom: 30px;
}
.recipie-item h3 {
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: 700;
}
.recipie-item p {
  line-height: 2;
}

/* Order section */
.order-section {
  height: 500px;
  background-image: url(images/food/Project\ Cover4.png);
  background-repeat: no-repeat;
  background-position: center;
}
.order-section p {
  font-size: 50px;
  padding-top: 150px;
  color: #fff;
}
form {
  width: 85%;
  height: 100px;
  box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.2);
}
.input-area {
  display: flex;
  padding-top: 20px;
  /* padding-left: 20px; */
}
.input-box input[type="text"] {
  border: 1px solid #fb934a;
  padding: 20px 350px 20px 20px;
  font-size: 14px;
  color: #fb934a;
}
.submit-box {
  margin-left: 50px;
}
.submit-box input[type="button"] {
  padding: 20px 30px;
  background: #c60d5c;
  border: 1px solid #c60d5c;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.submit-box span {
  color: #fff;
  padding: 0 5px;
}

/* Footer */
footer {
  background: #0b0d17;
  height: 250px;
}
.footer-text {
  padding-top: 50px;
  text-align: center;
}
.footer-text h2 {
  font-size: 25px;
  color: #5b5b5b;
  word-spacing: 10px;
  padding-bottom: 40px;
}
footer h2 span {
  color: #fb934a;
}
footer p {
  font-size: 14px;
  color: #fff;
}
